{% extends 'base.html' %}



{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sit qui ab? Cupiditate architecto labore delectus error, esse doloremque corporis provident nobis minus quam? Dolore, nulla beatae autem voluptas possimus voluptate dicta consequatur sequi rem amet magni facilis at fuga eaque voluptates? Sint, quo nobis asperiores possimus vitae distinctio quisquam laudantium quos ea velit cum architecto incidunt veniam doloremque ab quod dolore consequuntur odit sapiente tempora deleniti suscipit sunt. Quo quibusdam, magnam reprehenderit officiis possimus iure. Numquam incidunt eius, nisi molestiae dolores deserunt, nihil dolore, modi quidem optio omnis repudiandae. Deleniti ducimus id optio suscipit! Odit doloremque officiis cupiditate quod!

</p>
{% endblock %}
